# pixi environments
frontend/.pixi/*
backend/.pixi/*
!.pixi/config.toml
/.claude
/.idea
/.dockerignore
backend/app/__pycache__/*
data/*
data/*
uploads/*
instance/*
backend/.idea
backend/db/dialect_recorder.db
backend/logs/app.log
backend/docker/.env
