# Docker 目录特定的忽略规则

# 允许提交 .gitkeep 文件（保持目录结构）
!data/logs/.gitkeep

# 忽略环境变量
.env

# 忽略备份文件
backup/
*.bak
*.backup

# 忽略运行时数据库文件（使用 *_init.db 作为初始版本）
instance/
*.db
!data/db/translation_dict_init.db


# jieba文本分词文件 (自动生成)
app/teo_g2p/word_dict/
*.txt
!jieba_cut_original.txt




